/* fonts: 
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'Amiko', sans-serif; */

body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

/*navbar styling*/
.navbar{
    background-color: #fff;
    border-bottom: .15em solid #33000d;
    margin-bottom: 0;
}

.container{
    padding: 0;
    margin: auto;
    width: 98%;
}

/*Changing color for the button*/
button.navbar-toggle{
    background:transparent;
    border-color:transparent;
    margin-bottom: 1%;
}

button.navbar-toggle span{
   background:#3c3c3c;
   opacity: 0.8;
}

/*modifies styling of navbar left */
.navbar-brand {
    font-family: 'Amiko', sans-serif;   
    color: #33000d;
    font-weight: 400;
    font-size: 2.5em;  
}

a.navbar-brand:hover{
    font-weight: bold;
    border-bottom: .05em solid #33000d;
    color: #000;
}

/*modifies styling of navbar right */
.navbar-right a{
    font-family: 'Amiko', sans-serif;   
    color: #3c3c3c;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
}

.nav li a{
    margin-bottom: 0;
    margin-top:0;
}

.nav li a:hover{
    background-color: transparent;
    font-weight: bold;
    color: #000;
    border-bottom: .05em solid #33000d;
}

/* collapsed menu*/
.navbar-nav {
    color: #000;
    text-align: center;
}

.navbar-nav:hover{
    background-color: rgba(252,0,64,0.1);
}

/*General styling*/
.title{
   padding: 1% 0 0 2%; /* top|right|bottom|left */ 
}

h1 {
    font-family: 'Amiko', sans-serif;   
    color: #33000d;
    font-weight: 600;
    font-size: 4em;
    text-align: left;
    font-height:0;
    padding: 1.5% 0 0 0; 
    margin: 0 0 0 0;
    line-height: 50%;
    letter-spacing: 10%;
}

h2 {
    font-family: 'Amiko', sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #000;
}

